ffmpeg-python==0.2.0
grequests==0.7.0
langchain==0.1.19
langgraph==0.0.48
tabulate==0.9.0
python-dotenv==1.0.1
openai==1.26.0
langchain-openai==0.1.6
rich==13.7.0
fastapi==0.110.0
uvicorn==0.28.0
sse-starlette==2.0.0
httpx-sse==0.4.0
aiosqlite==0.20.0