ffmpeg-python==0.2.0
grequests==0.7.0
tabulate==0.9.0
python-dotenv==1.0.1
rich==13.7.0
fastapi==0.110.0
uvicorn==0.28.0
sse-starlette==2.0.0
httpx-sse==0.4.0
aiosqlite==0.20.0
langchain-openai==0.1.7
langchain==0.2.1
langgraph==0.0.55
langgraph-cli==0.1.23
langgraph-sdk==0.1.11
openai==1.30.3