@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary-new {
    @apply bg-none border-0 p-0 font-bold text-sm text-[#006F33] cursor-pointer font-aeonikBold disabled:pointer-events-none;
  }

.btn-primary-submit {
    @apply overflow-hidden cursor-pointer bg-[#9AED59] h-12 border-0 shadow-sm font-medium text-[16px] w-32 font-aeonikBold;
  }

  

@font-face {
  font-family: 'Aeonik'; /* Choose a name for your font family */
  src: url('./fonts/AeonikTRIAL-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'AeonikBold'; /* Choose a name for your font family */
  src: url('./fonts/AeonikTRIAL-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DentonBold'; /* Choose a name for your font family */
  src: url('./fonts/Denton-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DentonLight'; /* Choose a name for your font family */
  src: url('./fonts/Denton-Light.otf') format('opentype');
}

.aeonik-font {
  font-family: 'Aeonik', sans-serif; /* Use your custom font or a fallback font */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root {
  --TL-Grey-300: #D4D5D2 ;
  --TL-Green-300: #C3F49C;
}

.userBubble {
  padding: 10px;
  align-self: flex-end; 
  max-width: 40vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--TL-Grey-300); 
  background-color: #F4F4F3; 
  font-family: 'Aeonik';
}

/* AI chat bubble style */
.aiBubble {
  background-color: #F7FEF2; 
  color: #333; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--TL-Green-300); 
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  align-self: flex-start; 
  max-width: 40vw;
  line-height: 24px;
  font-family: 'Aeonik';
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 12px;
  height: 12px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: 
  #5AC903;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.custom-select {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.custom-selector option:checked {
  background-color: green;
  color: white; /* Change the text color for better visibility */
}

/* Style for the custom arrow */
.custom-arrow {
  position: relative;
 /* Vertically center the arrow */
  right: 24px; /* Adjust the right distance as needed */
  transform: translateX(-50%); /* Vertically center the arrow */
  pointer-events: none;
  border: 1px solid #D4D5D2
}

/* Center the modal vertically and horizontally */
.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Customize the modal's width if needed */
.custom-modal .modal-dialog {
  max-width: 60%;
  max-height: 60%;
}